# Ignore virtual environment
venv/

# Ignore pipenv
Pipfile.lock

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore environment variables file
.env
